extends header-layout.pug

block content
  nav.header__nav
    ul.header__nav-list
      li.header__list-item
        p Алёна Фролова
      li.header__list-item
        a.header__exit(href='#') Выйти
  a.header__avatar.avatar
    img(src='/img/avatar-2.png' alt='аватар пользователя')
