extends header-layout.pug

block content
  button.button.button--colored.header__button-new Новая запись
  .header__dropdown
    a.button.button--burger.header__burger(href='#') Открыть меню
    ul.navigation.header__navigation
      li.navigation__item
        a(href='main.html') Пункт меню
      li.navigation__item
        a(href='main.html') Пункт меню
      li.navigation__item
        a(href='main.html') Пункт меню
      li.navigation__item
        a(href='main.html') Пункт меню
