ul.themes
  li.themes__item
    a.themes__item-link(href='#')
      | Автомобили&#32;
      sup 88
  li.themes__item
    a.themes__item-link(href='#')
      | Удаленная работа&#32;
      sup 13
  li.themes__item
    a.themes__item-link(href='#')
      | Бизнес&#32;
      sup 13
  li.themes__item
    a.themes__item-link(href='#')
      | Путешествия&#32;
      sup 13
  li.themes__item
    a.themes__item-link.themes__item-link--padding(href='#')
      | Дизайн и обустройство&#32;
      sup 13
  li.themes__item
    a.themes__item-link(href='#')
      | Производство игрушек&#32;
      sup 22
  li.themes__item
    a.themes__item-link(href='#')
      | UX & UI&#32;
      sup 22
