.main-page__section-flex.main-page__section-flex--short
  section.main-page__hot.hot
    h2.hot__name.hot__name--empty
      | Самое обсуждаемое
      span.hot__icon.hot__icon--fire
    p.hot__empty Здесь пока ничего нет...
  section.main-page__last.last
    h2.last__name
      | Последние комментарии
      span.last__icon.last__icon--cloud
    p.last__empty Здесь пока ничего нет...
