.main-page__section-flex.main-page__section-flex--short
  section.main-page__last.last
    h2.last__name
      | Последние комментарии
      span.last__icon.last__icon--cloud
    p.last__empty Здесь пока ничего нет...
