.main-page__section-flex
  section.main-page__hot.hot
    h2.hot__name
      | Самое обсуждаемое&#32;
      span.hot__icon.hot__icon--fire
    ul.hot__list
      each postInTrend in postInTrends
        li.hot__list-item
          a.hot__list-link(href='#')
            | #{postInTrend.announce}
            sup.hot__link-sup
  section.main-page__last.last
    h2.last__name
      | Последние комментарии&#32;
      span.last__icon.last__icon--cloud
    p.last__empty Здесь пока ничего нет...
    //- ul.last__list
    //-   li.last__list-item
    //-     img.last__list-image(src='/img/avatar-small-1.png' width='20' height='20' alt='Аватар пользователя')
    //-     b.last__list-name Анна Артамонова
    //-     a.last__list-link(href='#')
    //-       | comment.text
