extends admin/layout.pug

block content
  main.main-page.main-page--padding
  section.main-page__notes.notes
    h1.notes__title Мои записи
    ul.notes__list
      each post in posts
        li.notes__list-item
          time.notes__item-time(datetime='2019-03-21T20:33') #{post.createdDate}
          a.notes__item-text(href='#') #{post.title}
          button.notes__button.button.button--close-item(type='button')
            span.visually-hidden Закрыть строку списка
