doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='description' content='Личный блог Типотека')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Типотека
  link(rel='preload' href='./fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='./fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='./fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style.min.css')
body
  include ../mixins/mixins.pug
  .wrapper-color
    include ../partials/header.pug
    block content
    include ../partials/footer.pug
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js')
    script(src="/js/vendor.js")
    script(src="/js/main.js")
    script(src='/js/socket.js')
