extends ../layout.pug

block content
  main
    h1.visually-hidden Регистрация пользователя
    section
      .popup.popup--registration.popup--anti
        a.popup__button.button.button--popup-close(aria-label='Закрыть окно')
          | Закрыть
          | окно
        h2.popup__title Регистрация
        .popup__form.popup__form--active.form.form--register
          form(action='/register' method='post' enctype="multipart/form-data")
            .form__field
              label
                input(type='email' name='email' placeholder='Электронная почта' required='')
            .form__field
              label
                input(type='text' name='firstName' placeholder='Имя' required='')
            .form__field
              label
                input(type='text' name='lastName' placeholder='Фамилия' required='')
            .form__field
              label
                input(type='password' name='password' placeholder='Пароль' required='')
            .form__field
              label
                input(type='password' name='repeat-password' placeholder='Повтор пароля' required='')
            if errorMessages
              .form__validation-error
                p.form__error-message При регистрации произошли ошибки:
                +errorMessages(errorMessages)
            .form__image-loader
              a.form__avatar.avatar
                img(src='img/icons/smile.svg' alt='аватар пользователя')
              label
                input.visually-hidden(type='file' name='upload')
                | Загрузить фото профиля
            button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться
